# Learn more: https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# -----------------------------
# 🔧 Dependencies
# -----------------------------
node_modules/

# -----------------------------
# 📦 Expo / Metro
# -----------------------------
.expo/
.expo-shared/
dist/
web-build/
expo-env.d.ts
.metro/
.metro-health-check*
.eas/
devices.json

# -----------------------------
# 📱 Native (Android/iOS)
# -----------------------------
android/.gradle/
android/app/build/
android/build/
ios/Pods/
ios/build/
ios/*.xcodeproj/
ios/*.xcworkspace
ios/.DS_Store

.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# 🚫 Ignore keystore/secrets
android/keystore.properties
*.keystore
android/local.properties

# Native build artifacts
*.apk
*.aab
*.xcarchive
*.app
*.ipa
android/app/release/

# -----------------------------
# 🔐 Environment / Secrets
# -----------------------------
.env
.env.*
.env*.local

# -----------------------------
# 🧪 Debug / Logs
# -----------------------------
npm-debug.*
yarn-debug.*
yarn-error.*
*.log
docs/crashlogs/

# -----------------------------
# 🧑‍💻 IDE / Misc
# -----------------------------
.DS_Store
.vscode/
.idea/
*.pem
*.tsbuildinfo

# -----------------------------
# 🚫 Examples / Extras
# -----------------------------
app-example
